flask==2.2.2
boto3
Flask-Cors
python-dotenv
PyMySql
Flask-SQLAlchemy
flask-marshmallow
marshmallow-sqlalchemy
Flask-Migrate
Flask-Seeder
cryptography
pandas
bs4
requests
Werkzeug
flask_restx
flask-cli
Cerberus
Flask-RESTful
flask-jwt-extended
flask-login
pytest
Flask-Testing
sqlalchemy_utils
mypy
types-requests
types-beautifulsoup4
flasgger==0.9.7.1
coverage==7.2.7